body{
    background-image: url(https://img.freepik.com/vector-premium/diseno-impresion-sobre-tela-fondo-o-papel-pintado-otros-productos-demanda_761774-34.jpg?w=826);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}